    <div>
        @* chama o formulario que vai mandar para a visualização adicionar assim que cadastrar um produto*@
        <form action="/Produto/Adiciona" method="post">

            @* passando a chave do erro complexa que mostra se o valor do produto for menor que 100 reais *@
            @Html.ValidationMessage("produto.Invalido")
            <label for="nome">Nome</label> <br>

            @* Baseado no parametro produtos que esta em adiionar ele ira chamar produtos.atributos
                logo abaixo vemos que ele passa produto.nome, que vai esa adicionando no onjeto

            *@
            <input id="" class="form-control" name="produto.Nome" />
            @* mostra uma menssagem de validação, html Helper, passabdo como argumento a menssagem *@
            @Html.ValidationMessage("produto.Nome")
            <br>
            <label for="preco">Preço:</label> <br>  <!----Value preenche com o valor do retorno caso alguma validação der erro-->
            <input class="form-control" id ="" name="produto.Preco" value="@ViewBag.Produto.Nome" />
            <br>
            <label for="quantidade">Quantidade:</label> <br>
            <input class="form-control" id="" name="produto.Quantidade" value="@ViewBag.Produto.Quantidade" />
            <br>
            <label for="descricao">Descrição:</label> <br>
            <input class="form-control" id="descricao" name="produto.Descricao" value="@ViewBag.Produto.Descricao" />
            <br>
            <label for="categoria">Categoria:</label> <br>

            @* Comobox onde manda para o objeto produto o Id do produto
                como o usuario não sabe o id do produto, no caso pegamos o nome e em vez de eviar o nomes
                enviamos o ID deste nome conforme abaixo

            *@
            <select class="form-control" id="categoria" name="produto.CategoriaId">
                @foreach (var categoria in ViewBag.Categorias)
                {

                    <option value="@categoria.Id" selected="@categoria.Id.Equals(ViewBag.Produto.CategoriaId)">@categoria.Nome</option>
                }
            </select> <br> <br>

            @* tipo submit ira mandar os dados para o adionar assim que os dados for preenchidos *@
            <input class="btn-border-wine" type="submit" value="Cadastrar" />
        </form>
    </div>