@model IList<EstoqueMVC.Models.Produto>

        <table class="table table-hover">

            @*Cabeçalho da tabela*@
            <thead>
                @* linha que vai ser colocado as coluna   *@
                <tr>
                    @*Colunas*@
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Quantidade</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            @*Corpo da tabela *@
            <tbody>

                @foreach (var produto in Model)
                {
                    <tr>
                        <td>@produto.Id</td>

                        <td>
                            <!--cria um link, que chama o controller depois manda pra pagina que deseja,
                            enviando o Id, que coloca o link no nome que esta na tabela
                            --->
                            @*<a href="/Produto/Visualizador/@produto.Id">@produto.Nome</a>*@

                            <!---primeiro parametro recebe o texto que vai aparecer,
                            segundo parametro qual aaction que vou enviar, terceiro passa o id para
                            buscar na action
                            segundo---->
                            @Html.ActionLink(produto.Nome, "Visualizador", new { id = produto.Id })
                        </td>
                        <!----<td>@produto.Nome  <a href></a></td>-->
                        <td class="QTD">@produto.Quantidade</td>
                        <td>@produto.Descricao</td>
                        <td ><a  class="Decremento" href="/Produto/DecrementarQTD/@produto.Id">-</a></td>
                    </tr>
                }
            </tbody>
        </table>
