
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <table BORDER=1 CELLPADDING=0 cellspacing=0 WIDTH='500' ALIGN="center">

            @*Cabeçalho da tabela*@
            <thead>
                @* linha que vai ser colocado as coluna   *@
                <tr>
                    @*Colunas*@
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Quantidade</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            @*Corpo da tabela *@
            <tbody>

                @foreach (var produto in ViewBag.Produtos)
                {
                    <tr>
                        <td>@produto.Id</td>

                        <!--cria um link, que chama o controller depois manda pra pagina que deseja,
                            enviando o Id, que coloca o link no nome que esta na tabela
                            --->
                        <td><a href="/Produto/Visualizador/@produto.Id" >@produto.Nome</a></td>
                        <!----<td>@produto.Nome  <a href></a></td>-->
                        <td>@produto.Quantidade</td>
                        <td>@produto.Descricao</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
